

#map-canvas {
	width: 400px;
	height: 400px;

	margin: 20px auto;
    padding: 10px;
	border: 1px solid;
	display: none;

}


#map-list {
    padding: 10px;
	display: none;
}

.backgrid > tbody > tr.active {
    background-color: #CCCF8B;
}